.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.jobModel {
  height: 200px ;
      overflow-y: scroll ;
}
.largeText{
  font-size: 17px;
}

#assignedRequestsContainer .ui.steps {
    line-height: 0.7em;
}

#assignedRequestsContainer .ui.steps .step, .ui.step{
  font-size: 10px;
}

#submittedRequestsContainer .ui.steps {
    line-height: 0.7em;
}

#submittedRequestsContainer .ui.steps .step, .ui.step{
  font-size: 10px;
}

.menuImage{
  padding: 5px;
}

.submitRequestDivider{
  padding-top: 10px;
}
